body {
    background-image: url('../images/ticks.png');
}


h1 {
    font-size: 5em;
    margin: .3em .3em;
    font-family: 'Merriweather', serif;
    font-weight: 100; 
    margin: 0, auto;
    width: 90%;
}

#header, h1 {
    color: #fff;
    float: left;
    clear: both;
    margin-bottom: 20px;
}


h3 {
    font-size: 1em;
    margin: .3em .3em;
    font-family: 'Merriweather', serif;
    font-weight: 100; 
    text-transform:uppercase;
    
    /*font-family: 'Open Sans Condensed', sans-serif; */
}

h4 {
    font-size: 1.5em;
    margin: .3em 0em;
    height: 1em;
    overflow: hidden;
   font-family: 'Merriweather', sans-serif; 
   font-weight: 900; 
}



img {
	max-width: 200%;
}


#header {
  width: 100%;
  background-color: #303030;
}

#containter {
  width: 98%;
  margin: 0 auto;
  overflow:hidden; 
}

  
.box {
  -webkit-box-sizing: border-box;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-bottom: #C6C6C6;
  border-radius: 4px;
  box-shadow: 0px 0px 3px #888888;
}

.subbox {
  float: left;
  background-color: white;
  height: 50px;
  width: 50px;
}

img {
  max-width: 100%;
}

.h1sub {
  color: #B7B6AB;
}

/*----------------------------------------------------------------------------- 
=01 MEDIA QS 
-----------------------------------------------------------------------------*/

@media (min-width: 1025px) {
  .box{
  width: 23%;
  }
}


@media (max-width: 1024px) {
  .box{
  width: 31%;
  }
  h1 {
    font-size: 4em;
  }
}


@media (max-width: 768px) {
  .box{
  width: 47%;
  }
  h1 {
    font-size: 4em;
  }
}


@media (max-width: 480px) {
  .box{
  width: 96%;
  
  }
  h1 {
  font-size: 3em; 
  }
}


/*----------------------------------------------------------------------------- 
=BREAK 
-----------------------------------------------------------------------------*/


.clear {
  clear: both;
}


#red {
  background-color: red;
}  

#green {
  background-color: green;
}  

#blue {
  background-color: blue;
}  

#black {
  background-color: black;
}  
